<article class="template animated slideInRight">
  <h4>All courses</h4>

  <!--<lyxor-filter-text (changed)="filterChanged($event)"></lyxor-filter-text>-->

  <ul class="courses">
    <li *ngFor="let course of filteredCourses">

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{course.id}}. {{course.name}}</h2>
        </div>
        <div class="mdl-card__menu">
         <button class="edit-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" [routerLink]="['Course', {id: course.id}]">
            <i class="material-icons">edit</i>
          </button>

        </div>
      </div>
    </li>
  </ul>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          md-raised-button color="accent">Add</button>
</article>
