<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="md-title-icon" href="/"><i></i></a>
      <span class="mdl-layout-title">ANGULAR APPLICATION</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section>
      <div class="page-content svg-background">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
  <lyxor-toast></lyxor-toast>
  <story-spinner></story-spinner>
  <lyxor-modal-confirm></lyxor-modal-confirm>
</div>
